.styled-card {
	width: 80%;
	min-width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 2%;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1% 2%;
}

.card-name-link {
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	color: #6889bd;
}
.card-name-link:visited {
	color: #6889bd;
}

.card-info-container {
	display: flex;
	width: 50%;
	justify-content: left;
}

.card-thumbnail-container {
	display: flex;
	width: 100px;
}
.no-button {
	width: 100px;
}
.yearpublished {
	color: #ada69b;
	font-size: 14px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
